<div class="item-container">
  <% if (@is_admin) %>
    <%= link_to "Modifica panino", edit_item_path(@item) , id: "navigation-button" %>
    <%= link_to "Rimuovi panino", item_path, :method => 'delete', id: "navigation-button" %>
  <% end %>
  <h2>#<%= @item.id.to_s + "  " + @item.name.capitalize %></h2>
  <div class="item-icon-big" style="background-image: linear-gradient(rgba(208, 126, 213, 0.15), rgba(59, 43, 15, 0.42)), url('<%= @item.photo_url %>');"></div>
  <b><%= @item.price.to_s %>€</b>
  <br>
  <hr id="item-hr">
  <% unless @item.recepy.empty? %>
    <div class="item-description">
      <h4 style="text-align: left">Ingredienti:</h4>
      <ul class="item-doses-list">
        <% @item.recepy.each do |recepy| %>
          <li><%= recepy %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="item-navigation">
    <% caption = @item.category.id - 1 == 0 ? "Sfoglia altri piatti" : "Sfoglia altre bevande" %>
    <%= link_to caption, item_category_url(@item.category.id - 1), id: "navigation-button" %>
  </div>
  <hr>
</div>
